<div class="container">
  <div class="row">
    <div class="col-sm">
      <form>
        <div class="form-group">
          <label class="col-form-label">Name</label>
          <input class="form-control" type="text" name="name" required [(ngModel)]="medication.name">
        </div>

        <div class="form-group">
          <label class="col-form-label">Side effects</label>
          <input class="form-control" type="text" name="sideEffects" required [(ngModel)]="medication.sideEffects">
        </div>

        <div class="form-group">
            <label class="col-form-label">Dosage</label>
            <input class="form-control" type="number" name="dosage" required [(ngModel)]="medication.dosage">
          </div>
     </form>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <button type="button" class="btn btn-primary mr-2" role="button" (click)="onMedicationCreate()">Add Medication</button>
    </div>
  </div>
</div>