<div class="container-fluid">
    <h4>Click a row for editing or deleting!</h4>
    <a class="btn btn-primary" routerLink="insert">Insert new medication</a>
</div>
    
    <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Side effects</th>
                <th scope="col">Dosage</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor = "let medication of medicationModel.all" [routerLink]="[medication.id, 'edit']">
                <td>{{ medication.id }}</td>
                <td>{{ medication.name }}</td>
                <td> {{ medication.sideEffects }} </td>
                <td>{{ medication.dosage }}</td>
              </tr>
            </tbody>
    </table>