<div class="container">
    <div class="row">
      <div class="col-sm">
        <form>
          <div class="form-group">
            <label class="col-form-label">First Name</label>
            <input class="form-control" type="text" name="firstName" [(ngModel)]="caregiver.firstName" required>
          </div>
  
          <div class="form-group">
            <label class="col-form-label">Last Name</label>
            <input class="form-control" type="text" name="lastName" [(ngModel)]="caregiver.lastName" required>
          </div>
  
          <div class="form-group">
              <label class="col-form-label">BirthDate</label>
              <input class="form-control" type="date" name="birthDate" [(ngModel)]="caregiver.birthDate" required >
            </div>
  
            <div class="form-group">
              <label class="col-form-label">Address</label>
              <input class="form-control" type="text" name="address" [(ngModel)]="caregiver.address" required >
            </div>
  
            <div class="form-group">
              <label class="col-form-label">Gender</label>
              <select name="genderType" [(ngModel)] = "caregiver.gender" class="form-control" required>
                <option value="MALE" selected>MALE</option>
                <option value="FEMALE">FEMALE</option>
              </select>
            </div>

       </form>
      </div>
    </div>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <button type="button" class="btn btn-primary mr-2" role="button" (click)="onCaregiverCreate()">Add Caregiver</button>
      </div>
    </div>
  </div>