<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a class="nav-link">Medication Platform</a>
        </li>
        <li class="nav-item"  routerLinkActive="active">
            <a class="nav-link" routerLink="/doctor/patients">Patients</a>
        </li>

        <li class="nav-item"  routerLinkActive="active">
                <a class="nav-link" routerLink="/doctor/caregivers">Caregivers</a>
         </li>

         <li class="nav-item"  routerLinkActive="active">
                <a class="nav-link" routerLink="/doctor/medication">Medication</a>
         </li>

         <li class="nav-item">
            <a class="nav-link" (click)="logOut()">LogOut</a>
     </li>
    </ul>
</nav>